# settings file

[project]
name = bank_mgmt_system
version = 0.1.0
author = "Josep Bevels"
email = n00661116@unf.edu
url = https://github.com/CyberSnipe/bank_mgmt_system

[path]
data_dir = "bank_mgmt_system\data"
data_internal = "bank_mgmt_system\data\internal"
data_external = "bank_mgmt_system\data\external"
logging = "bank_mgmt_system\logging"
debug = True



